.chart-content{
    .chart-title{
        height: 50px;
        background:#1d1d1f;
    }
    .chartXH{
        height: 200px;
        background:#ffffff;
    }  
}
.myChart{
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 450;
    margin-top: 3%;
}